.row
  .col-xs-12
    %section.page-header
      %h1 Add A New Gram

    .row
      .col-xs-12.col-md-8.col-md-offset-2
        .well
          = simple_form_for @gram do |form|
            = form.input :message
            = form.input :photo
            = form.submit "Gram it!", class: 'btn btn-primary'
