.row
  .col-xs-12
    %h1 Add A New Gram

    = simple_form_for @gram, html: {class: 'form-horizontal'} do |form|
      = form.input :message
      = form.submit "Gram it!", class: 'btn btn-primary'
